# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../:\Users\sumeet.khare.INCOFORGETECH\OneDrive - Coforge Limited\ideaproject\workspace\Appian\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
